body {
  background: url(./imgs/0a32aa2bf9d41a1775a94669092c1278.png) no-repeat;
  background-size: 100% 100%;
}
body div {
  border: 10px solid black;
}

body {
    background: gray;
    transform: rotate(45deg);
}
